include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/dataproxy *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/dataproxy/migration *.ini *.py *.mako
